<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lab8</title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script>
        const disconnect = async () => {
            const response = await fetch('/disconnect', {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST'
            })

            Cookies.remove('USER_COOKIE', { path: '' })
            window.location.replace('/login')
        }
    </script>
</head>
<body>
    <h2>You are connected as <%= username %></h2>

    <button onclick="disconnect()">Disconnect</button>
</body>